<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">写真</th>
            <th scope="col">料理名</th>
            <th scope="col">投稿者</th>
            <th scope="col">いいね</th>
            <th scope="col">ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= image_tag article.get_image, size: "50x50" %></td>
              <td><%= link_to article.title, article_path(article.id), style: "color: #343a40; font-weight: bold;" %></td>
              <td><%= article.user_id %></td>
              <td>
              <% if current_user.already_liked?(article) %>
                <%= link_to article_likes_path(article), method: :delete do %>
                  <i class="fas fa-heart" style=" color: #ff1493; "></i>
                <% end %>
              <% else %>
                <%= link_to article_likes_path(article), method: :post do %>
                  <i class="fas fa-heart" style=" color: #ff1493; "></i>
                <% end %>
              <% end %>
              <%= article.likes.count %>
              </td>
      				<td><%= link_to article.genre.name, articles_path(genre_id: article.genre_id), style: "color: #343a40; font-weight: bold;" if article.genre %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
