<!DOCTYPE html>
<html>
  <head>
    <title>DishTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://kit.fontawesome.com/1084fc60d7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body style="padding-top: 60px;">
<header style="position: fixed; top: 0; left: 0; right: 0; z-index: 100;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FF773E;">
    <div class="container">
      <%= link_to "/", class: "navbar-brand" do %>
        <li style="display: flex; justify-content: center; align-items: center;">
          <span>Dish_Time</span><i class="fa-solid fa-utensils"></i>
        </li>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" style="justify-content: space-between;">
          <div style="display: flex; justify-content: center; align-items: center;">



            <!-- ヘッダーメニュー -->
            <% if user_signed_in? %>
              <li style="margin-right: 10px; list-style-type: none;">
                <i class="fa-solid fa-book-open"></i>
                <%= link_to "Postall", articles_path, style: "color: #343a40" %>
              </li>
              <li style="margin-right: 10px; list-style-type: none;">
                <i class="fa-solid fa-home"></i>
                <%= link_to "Mypage", user_path(current_user.id), style: "color: #343a40" %>
              </li>
              <li style="margin-right: 10px; list-style-type: none;">
                <i class="fa-solid fa-pen"></i>
                <%= link_to "NewPost", new_article_path(current_user.id), style: "color: #343a40" %>
              </li>
              <li style="margin-right: 10px; list-style-type: none;">
                <i class="fas fa-heart"></i>
                <%= link_to "Favorite", likes_path, style: "color: #343a40" %>
              </li>
              <li style="margin-right: 10px; list-style-type: none;">
                <i class="fa-solid fa-magnifying-glass"></i>
                <%= link_to "Search", root_path, style: "color: #343a40" %>
              </li>
              <li style="margin-right: 10px; list-style-type: none;">
                <i class="fa-solid fa-sign-out-alt"></i>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, style: "color: #343a40" %>
              </li>
              <li style="display: flex; justify-content: flex-end; margin-right: 10px;"></li>
              <li style="color: white; font-weight: bold;">
                Welcome　<%= current_user.name %>！
              </li>


            <% else %>
              <li style="margin-right: 10px; list-style-type: none;">
                <i class="fa-solid fa-book-open"></i>
                <%= link_to "Post all", articles_path, style: "color: #343a40" %>
              </li>
              <li style="margin-right: 10px; list-style-type: none; color: black;">
                <i class="fa-solid fa-user-plus"></i>
                <%= link_to "Sign up", new_user_registration_path, style: "color: #343a40" %>
              </li>
              <li style="margin-right: 10px; list-style-type: none; color: black;">
                <i class="fa-solid fa-sign-in-alt"></i>
                <%= link_to "Log in", user_registration_path, style: "color: #343a40" %>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>

      <main style="margin-top: 60px;">
        <%= yield %>
      </main>


    <footer class="bg-color text-white pt-1 pb-1 d-flex flex-column justify-content-center align-items-center" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #FF773E; height: 20px;">
      <div style="border-bottom:width: 10%; margin: 0 auto;"></div>
      <div style="display: flex; justify-content: center; align-items: center;"></div>
    </footer>
</html>
